@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
/** {
	font-family: Microsoft JhengHei, Lucida Grande, Verdana, sans-serif;
	letter-spacing: 0.1em;
}*/
body {
	margin: 0;
	padding: 0;
	font-size: 160%;
	font-family: Microsoft JhengHei, Lucida Grande, Verdana, sans-serif;
	letter-spacing: 0.1em;	
}
ul, ol, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
/*========== xo_footerstatic.html ==========*/
#xo-footerstatic * {
	margin: 0;
	padding: 0;
}
#xo-footerstatic {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	background: none;
	color: #333;
	font-size: 11px;
	z-index: 100;
}
body > #xo-footerstatic {
	position: fixed;
}
#xo-footerstatic #controls {
	margin: 0;
	background-color: #fff;
	line-height: 39px;
	text-shadow: 2px 2px 3px #ccc;
	border: 1px solid #bbb;
	border-bottom: none;
}
#xo-footerstatic #controls {
	margin-top: 1px;
	background-color: #E7F4F7;
	padding: 3px 10px 0 10px;
}
#xo-footerstatic .separate {
	margin-left: 3px;
	border-left: 1px solid #bbb;
}
#xo-footerstatic #controls ul, li {
	margin: 0;
	padding: 0;
}
#xo-footerstatic #controls ul {
	list-style: none;
	font-weight: bold;
}
#xo-footerstatic #controls li {
	display: inline-block;
	height: 29px;
	line-height: 27px;
	padding-right: 6px;
}
#xo-footerstatic .icon {
	vertical-align: text-bottom;
}
#xo-footerstatic .icon-chat {
	padding-top: 3px;
}
#xo-footerstatic .chat, .icon-chat {
	float: right;
}
#xo-footerstatic .text {
	vertical-align: top;
}
/* ===== tables and cells ===== */
table {
	width: 100%;
	border-collapse: collapse;
}
caption {
	font-style: italic;
	font-weight: bold;
}
th, thead {
	background-color: #D1D1D1;
	padding: 2px;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	text-align: center;
	vertical-align: middle;
}
tfoot, .foot {
	background-color: #f7fbff;
	padding: 5px;
	color: inherit;
	font-weight: bold;
}
tbody {
}
table.outer {
	border-collapse: separate;
	border: 1px solid #ddd;
}
input[name="query"] {
	width: 100% !important;
}
.table-hover input, .table-hover textarea {
	width: 100% !important;
}
.outer textarea, .outer input {
	width: 100%;
}
table td {
	padding: 5px;
	vertical-align: top;
	border-width: 0;
}
.head {
	background-color: #F4F9FE;
	padding: 5px;
	font-weight: bold;
	color: #3390EF;
}
.even {
	background-color: #F9FCFE;
	padding: 5px;
	color: inherit;
}
.odd {
	background-color: #fff;
	padding: 5px;
	color: inherit;
}
tr.even td {
	background-color: #F9FCFE;
	padding: 5px;
	color: inherit;
}
tr.odd td {
	background-color: #fff;
	padding: 5px;
	color: inherit;
}
/* bla, bla, bla */
.aligncenter {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.alignleft {
	text-align: left;
	float: left;
}
.alignright {
	text-align: right;
	float: right;
}
div[style^="color"] {
	font-size: 95% !important;
}
dt[style^="font"] {
	font-size: 100% !important;
}
#xo-blocktad_link div[style^="float"] img, #xo-blocktad_link div[style^="width"] img {
	width: 80% !important;
}
#xo-blocktad_link div[style^="float"], #xo-blocktad_link div[style^="width"] {
	width: inherit !important;
	height: inherit !important;
}
#xo-blocktad_link div[style^="float"] div, #xo-blocktad_link div[style^="width"] div {
	font-size: 95% !important;
	word-break: break-all;
}
.list-group-item {
	min-height: inherit !important;
}
div[style^="margin"] a {
	font-size: 100% !important;
}
.scroller_container_shadow_content div[style^="padding"] {
	font-size: 100% !important;
}
.scroll_div {
	height: 350px !important;
}
.scroll_div img {
	height: 350px !important;
}
#xo-blocktadnews div[style^="padding"] {
	font-size: 70% !important;
}
.col-sm-12 a[style^="font"] {
	font-size: 120% !important;
}
.callbacks .rslides li {
	padding-top: 20px !important;
}
div[style^="font-size"] select{
	font-size: 250% !important;
}
#neilblockmenu .list-group a,
.vertical_menu li a{
font-size: 140% !important;
height: 70px !important;
padding: 10px 0px 0px 10px  !important;
}