#menutbl {
	width: 640px;
	z-index: 20;
	padding: 0px 0px 0px 0px;
	margin: 15px 0px 35px 18px;
}
.accordion {
	width: 640px;
	margin: 0px 0px;
}
.accordion h1, .accordion h2, .accordion h3, .accordion h4 {
	cursor: pointer;
	font-family: 'cwTeXHei', sans-serif !important;	
}
.accordion h1 {
	font-size: 165%;
	padding: 0px 60px 0px 110px;
	line-height: 180%;
	overflow: hidden;
}
.accordion #b1 {
	width: 606px;
	height: 104px;
	padding-top: 18px;
}

.accordion .b1noopen1 {
	background: url(../../img/menu/neilambilightphone_30.jpg) no-repeat left top;
}
.accordion .b1open1 {
	background: url(../../img/menu/neilambilightphone_30open.jpg) no-repeat left top;
}


.accordion #b2 {
	width: 606px;
	height: 88px;
	padding-top: 6px;

}

.accordion .b2noopen1 {
	background: url(../../img/menu/neilambilightphone_34.jpg) no-repeat left top;
}
.accordion .b2open1 {
	background: url(../../img/menu/neilambilightphone_34open.jpg) no-repeat left top;
}






.accordion #b3 {
	width: 606px;
	height: 83px;
	padding-top: 6px;

}


.accordion .b3noopen1 {
	background: url(../../img/menu/neilambilightphone_35.jpg) no-repeat left top;
}
.accordion .b3open1 {
	background: url(../../img/menu/neilambilightphone_35open.jpg) no-repeat left top;
}





.accordion #b4 {
	width: 606px;
	height: 81px;
	padding-top: 2px;

}

.accordion .b4noopen1 {
	background: url(../../img/menu/neilambilightphone_36.jpg) no-repeat left top;
}
.accordion .b4open1 {
	background: url(../../img/menu/neilambilightphone_36open.jpg) no-repeat left top;
}



.accordion #b5 {
	width: 606px;
	height: 80px;
	padding-top: 2px;

}

.accordion .b5noopen1 {
	background: url(../../img/menu/neilambilightphone_37.jpg) no-repeat left top;
}
.accordion .b5open1 {
	background: url(../../img/menu/neilambilightphone_37open.jpg) no-repeat left top;
}


.accordion #b6 {
	width: 606px;
	height: 80px;
	padding-top: 2px;

}


.accordion .b6noopen1 {
	background: url(../../img/menu/neilambilightphone_38.jpg) no-repeat left top;
}
.accordion .b6open1 {
	background: url(../../img/menu/neilambilightphone_38open.jpg) no-repeat left top;
}




.accordion #b7 {
	width: 606px;
	height: 81px;
	padding-top: 2px;

}

.accordion .b7noopen1 {
	background: url(../../img/menu/neilambilightphone_39.jpg) no-repeat left top;
}
.accordion .b7open1 {
	background: url(../../img/menu/neilambilightphone_39open.jpg) no-repeat left top;
}



#accordionfoot {
	position: relative;
	top: 0px;
	width: 606px;
	height: 30px;
	background: url(../../img/menu/neilambilightphone_40.jpg) no-repeat left top;
}
.accordion h2 a, .accordion h2 {
	color: #2070c9;
}
.accordion h1 a,
.accordion h2 a{
		 display: inline;
}


.accordion h2.open2{
	background: url(../../img/menu/neilambilightphone_41open.jpg) no-repeat left top;
}

.accordion h1, .accordion h1 a {
	color: #ffffff;
	
}
.accordion h1 a {
	font-size: 100%;
}
.accordion h3 a, .accordion h3 {
	color: #bb9054;
}

.accordion a{
	font-family: 'cwTeXHei', sans-serif !important;

}

.accordion h1:first-child {

}
.accordion h1:last-of-type {

}
.accordion h1:not(:last-of-type) {

}
.accordion div, .accordion p {
	display: none;
}
.accordion h2 {
	padding: 0px 85px 0px 115px;
	font-size: 150%;
	height: 65px;
	background: url(../../img/menu/neilambilightphone_41.jpg) no-repeat left top;
	line-height: 150%;
	overflow: hidden;
	border-radius: 0px;
}

.accordion h3 {
	padding: 5px 35px 0px 140px;
	font-size: 130%;
	height: 65px;
	background: url(../../img/menu/neilambilightphone_42.jpg) no-repeat left top;
	line-height: 150%;
	overflow: hidden;
}

.accordion h4 {
	padding: 5px 35px;
	background-color: #ffc25a;
 font-size: .9rem;
	color: #af720a;
}
.accordion h4:hover {
	background-color: #e0b040;
}
.accordion p {
	padding: 15px 35px;
	background-color: #ddd;
	font-family: "Georgia";
 font-size: .8rem;
	color: #333;
	line-height: 1.3rem;
}
.accordion .opened-for-codepen {
	display: block;
}

.nemu2c, .buttomtop {
	display: block;
   /* margin-top: -10px !important; */
}

