#tad_web #tad_web_cate_tabs {
	font-size: 60% !important;
}

#tad_web #list_all_web{
	font-size: 80% !important;
}
#tad_web .btn {
	font-size: 50% !important;
}

#tad_web #calendar{
	font-size: 80% !important;
}